:root {
  --cyan: hsl(179, 61%, 44%);
  --light-cyan: hsl(179, 47%, 52%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --fonts: Karla;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: var(--fonts);
  background-color: var(--light-gray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

h2 {
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
}

.container {
  display: grid;
  width: 92%;
  margin: 0 auto;
}

.box {
  padding-inline: 20px;
  padding-block-end: 20px;
  padding-block-start: 10px;
}

.join-box {
  background-color: white;
  border-radius: 5px 5px 0 0;
}

h1 {
  color: var(--cyan);
  font-size: 2rem;
}

.guarantee {
  color: var(--bright-yellow);
  font-weight: 700;
}

.description {
  color: var(--grayish-blue);
  line-height: 1.8;
}

.subscription {
  background-color: var(--cyan);
  color: white
}

.subscription .price {
  font-size: 3rem;
  font-weight: 700;
  margin-block-end: 0;
}

.price span {
  font-size: 1.8rem;
  color: var(--light-gray);
  font-weight: 200;
}

.subscription p {
  font-size: 1.6rem;
  margin-block-start: 10px;
  margin-block-end: 30px;
}

.button {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: var(--bright-yellow);
  border: none;
  font-family: var(--fonts);
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
}

.why-us {
  background-color: white;
  border-radius: 0 0 5px 5px;
  background-color: var(--light-cyan);
}










footer {
  text-align: center;
}



